.btn__primary {
  background-color: var(--base-red);
  color: var(--base-white);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--base-red);
  box-shadow: 0rem 0.1rem 0.2rem 0rem rgba(16, 24, 40, 0.05);
}

.btn__secondary {
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--gray-500);
  border: .1rem solid var(--gray-500);
  border-radius: .8rem;
}

.card {
  max-width: 28rem;
}

.card__number {
  font-size: 6rem;
  font-weight: 600;
  line-height: 7.2rem;
  letter-spacing: -0.12rem;
  color: var(--base-red);
  margin-bottom: 1.2rem;
}

.card__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--gray-500);
  margin-top: 0.8rem;
}

.vacancies {
  max-width: 76.8rem;
}

.vacancies__title,
.vacancies__subtitle {
  margin-bottom: 3.2rem;
}

.vacancies__card {
  border: 0.1rem solid var(--gray-200);
  border-radius: 1.6rem;
  padding: 2.4rem 2.4rem 2.8rem 2.4rem;
}

.vacancies__text {
  color: var(--gray-500);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  display: inline-block;
  margin-right: 2.4rem;
}