.container__cabecalho {
  text-align: center;
  margin: 9.6rem auto;
  max-width: 79.1rem;
}

.cabecalho__text {
  font-size: 1.6rem;
  color: var(--base-red);
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

.cabecalho__title {
  margin-bottom: 3.6rem;
}

.cabecalho__text__secondary {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--gray-500);
}

.container__metricas {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  margin-bottom: 19.6rem;
}

.container__vacancies {
  text-align: center;
}

.vacancies__text__primary {
  font-size: 1.4rem;
  color: var(--base-red);
  margin-bottom: 2rem;
  font-weight: 500;
}

.vacancies__text__secondary {
  font-size: 2rem;
  color: var(--gray-500);
  line-height: 3rem;
  margin: 2rem 0 6.4rem 0;
}

.vacancies__image {
  margin: 0 auto;
  border-radius: 1.6rem;
}

.open__vacaciones {
  max-width: 76.8rem;
  margin: 6.4rem auto;
}

.container__testimonials {
  text-align: center;
  max-width: 108.8rem;
  margin: 16rem auto 25rem;
}

.testimonials__text__primary {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--base-red);
  margin-bottom: 1.6rem;
}

.testimonials__image {
  margin: 3.2rem auto 1.6rem;
}

.testimonials__text__secondary {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-900);
  line-height: 24px;
}

.testimonials__text__third {
  font-size: 14px;
  color: var(--gray-500);
}

.container__form {
  text-align: center;
}

.form__subtitle {
  color: var(--gray-500);
  margin: 2rem 0 4rem 0;
}

.form__email {
  width: 100%;
  max-width: 36rem;
  padding: 1.2rem 1.4rem 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #d0d5dd;
  box-shadow: 0rem 0.1rem 0.2rem 0rem rgba(16, 24, 40, 0.05);
  margin-right: 1.6rem;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--gray-500);
}

.form__button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: var(--base-red);
  border: 1px solid var(--base-red);
  color: var(--base-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: all .3s ease;
}

.form__button:hover {
  background-color: var(--hover-red-btn);
}

.rodape {
  text-align: center;
  padding: 4.2rem 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-400);
}